<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Please sign in with your Fitbit account</title>
</head>
<body>
	<h1>Please <a href="/auth/fitbit">sign in</a> with your Fitbit account</h1>
</body>
</html>