<!DOCTYPE html>
<html>
<head>
	<title>Please update your cell phone number</title>
</head>
<body>
	<h1>Your cell phone number</h1>
	<form method="post" action="/phone">
		<input type="text" name="phoneNumber" value="<%= phoneNumber || '' -%>"/>
		<p>Must be in the format of <cite>+1<strong>415</strong>555<strong>1234</strong></cite></p>
		<input type="submit" value="Save" />
	</form>
	<% if (message) { -%>
		<p><%= message -%></p>
	<% } %>
</body>
</html>